<nav>
  <a href="/">
    <img src="/my-face-2.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>{{ site.theme.name }}</h2>
  <h3>Software Engineer</h3>
  <hr/>
  <ul>
  <p class="nav-links">Hi! I'm an undergrad from the University of Sydney's faculty of engineering. I make neat things.</p>
  <p class="nav-links">Here you can read my <a href="/journal.html">journal</a>, see my <a href="/portfolio.html">portfolio</a> or <a id="open-contact-modal" href="/contact.html">get in touch</a>.</p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
