/* Fonts */
@font-face {
    font-family: 'latolight';
    src: url('/assets/files/lato-light-webfont.eot');
    src: url('/assets/files/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/files/lato-light-webfont.woff') format('woff'),
       url('/assets/files/lato-light-webfont.svg#latolight') format('svg'),
         url('/assets/files/lato-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'latolight';
            src: url('/assets/files/lato-light-webfont.svg#latolight') format('svg');
		font-weight: normal;
		font-style: normal;
    }
}
@font-face {
    font-family: 'latolight';
    src: url('/assets/files/lato-bold-webfont.eot');
    src: url('/assets/files/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/files/lato-bold-webfont.woff') format('woff'),
       url('/assets/files/lato-bold-webfont.svg#latobold') format('svg'),
         url('/assets/files/lato-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  color: #222222;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid {{ site.theme.highlight_color }};
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: latolight, Lato, "open sans", sans-serif;
  font-weight: 600;
}

h1.title {
  font-weight: 800;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: {{ site.theme.highlight_color }};
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

a:hover {
  color: {{ site.theme.highlight_color }};
  color: #222;
}

a:visited {
  color: {{ site.theme.highlight_color }};
}
a:visited:hover {
  color: #222;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: -1px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px dotted #ddd;
}

ul.posts li .post-date-container {
  float: left;
  width: 70px;
  line-height: 1.6;
  min-height: 60px;
}
ul.posts li .post-date {
  color: #999;
  font-size:16px;
  text-transform: uppercase;
}
ul.posts li a {
  font-size:24px;
  color: #222;
}
ul.posts li a:hover {
  color: #ED4035;
}
ul.posts li .post-category {
  color: #999;
  padding-right: 5px;
  text-transform: capitalize;
  display:inline-block;
}
@media only screen and (max-width : 960px) {
  ul.posts li .post-date-container {
    float: none;
    width: 100%;
    min-height: 0;
  }
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.meta a i {
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
.meta a i:hover {
  color: #ED4035;
}
.meta a i:visited:hover {
  color: #ED4035;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

nav img {
  margin: 0 0;
}
nav h1, nav h2, nav h3 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}
nav h2 {
  font-size: 24px;
}
nav h3 {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

nav .nav-links {
  line-height: 24px;
}
nav .nav-links a {
  color: #222;
  font-weight: 700;
}
nav .nav-links a:hover {
  color: #ED4035;
}
nav .nav-links a:visited {
  color: #222;
}
nav .nav-links a:visited:hover {
  color: #ED4035;
}
nav .nav-links a:active {
  color: #ED4035;
}

nav hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: dotted #ddd;
  border-width: 1px 0 0;
}

#social {
  margin-bottom: 10px;
  color: #999;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.5em 0.7em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post img {
  margin-bottom: 24px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 16px;
}
.video-container iframe, .video-container object, .video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.post-caption {
  width: 80%;
  font-size: 12px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 20px;
}
.post-metadata {
  padding: 1em 0;
}
.post-metadata h3 {
  margin: 0.5em 0;
}

.sidebar {
  padding-top: 25px;
  font-family: latolight, Lato, "open sans", sans-serif;
  opacity: 0.3;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.sidebar:hover {
  opacity: 1;
}

.content {
  font: 400 16px/22px latolight, Lato, "open sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.footer {
  width: 100%;
  padding-top: 13px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#home h2 {
  color: {{ site.theme.highlight_color }};
}

#logo {
  margin-bottom: 25px;
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: #222;
}

i.fa-hn {
  font-family: latolight, Lato, "open sans", sans-serif;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}

/* Contact modal */

.contact-form-left, .contact-form-right {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.contact-form-fullwidth {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#contact-submit {
  margin-left: 50%;
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#contact-form {
  margin-right: -15px;
  margin-left: -15px;
}

#contact-close {
  position: absolute;
  top: 12px;
  right: -75px;
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#contact-close:hover {
  cursor: pointer;
  opacity: 1;
}

#contact-modal {
  background-color: #fff;
  width: 720px;
  border-bottom: 12px solid #00CC66;
  padding: 36px;
  display: none;
}

#contact-modal h1 {
  margin-top: 24px;
  margin-bottom: 18px;
  font-size: 24px;
  text-align: left;
  font-family: latolight, Lato, 'Open Sans', 'Helvetica Neue', 'Proxima Nova', Helvetica, sans-serif;
  font-weight: 400;
} 
#contact-modal p {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  font-family: latolight, Lato, 'Open Sans', 'Helvetica Neue', 'Proxima Nova', Helvetica, sans-serif;
  color: #222;
  margin: 0 0;
} 

#contact-modal textarea {
  min-height: 14em;
  margin-top: 24px;
}
#contact-modal input, #contact-modal textarea {
  outline: none;
  width: 100%;
  background: #eee;
  border: 2px solid #eee;
  box-shadow: none;
  font-size: 16px;
  padding: 10px 10px;
  max-width: 100%;
  margin-bottom: 0;
  font-family: latolight, Lato, 'Open Sans', 'Helvetica Neue', 'Proxima Nova', Helvetica, sans-serif;

  box-sizing: border-box;

  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#contact-modal input:focus, #contact-modal textarea:focus {
  border: 2px solid #222;
}

#contact-modal #contact-submit {
  font-family: latolight, Lato, 'Open Sans', 'Helvetica Neue', 'Proxima Nova', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}
#contact-modal #contact-submit button {
  width: 100%;
  font-family: latolight, Lato, 'Open Sans', 'Helvetica Neue', 'Proxima Nova', Helvetica, sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 2.2em;
  border: 2px solid #00CC66;
  padding: 0.6em 1.5em;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  background: #00CC66;
  margin-bottom: 0;
  border-radius: 0;
  text-shadow: none;
}
#contact-modal #contact-submit button:hover {
  color: #00cc66;
  background: #fff;
  border: 2px solid #00CC66;
}

#contact-success-modal {
  background-color: #fafafa;
  color: #222;
  width: 360px;
  border-bottom: 12px solid #00CC66;
  padding: 36px;
  display: none;
  font-family: latolight, Lato, sans-serif;
}
#contact-success-modal p {
  text-align: center;
}
#contact-success-modal img {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width : 720px) {
  #contact-modal {
    width: 360px;
  }
}

ul.portfolio {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: -1px;
}

ul.portfolio .portfolio-listing {
  line-height: 22px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px dotted #ddd;
}
ul.portfolio li {
  font-size: 16px;
}
ul.portfolio li .portfolio-image-container {
  width: 100%;
  line-height: 1.6;
  position: relative;
}
ul.portfolio li .portfolio-image-container .portfolio-image-cover {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background:rgba(255, 255, 255, 0.8);
color: #ED4035;
text-align: center;
font-size: 24px;
opacity: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

ul.portfolio li .portfolio-image-container a {
   cursor: url('/assets/images/portfolio-hover.png'), auto !important;
}
ul.portfolio li .portfolio-image-container a:-webkit-any-link {
   cursor: url('/assets/images/portfolio-hover.png'), auto !important;
}
ul.portfolio li .portfolio-image-container:hover .portfolio-image-cover {
opacity: 1;
}

ul.portfolio li .portfolio-image-container img {
  height: 240px;
  display: block;
  margin-bottom: 12px;
}

ul.portfolio li .portfolio-description-container {
  color: #222;
  padding-right: 5px;
  display:inline;
}
ul.portfolio li .portfolio-description-container .clearfix {
  margin-bottom: 16px;
}

ul.portfolio li .portfolio-description-container .portfolio-heading {
  color: #222;
  font-size: 24px;
  margin-bottom: 7px;
  display: inline-block;
}
ul.portfolio li .portfolio-description-container .portfolio-heading:hover {
  color: #ED4035;
}
ul.portfolio li .portfolio-description-container .project-description {
  color: #222;
  margin-bottom: 24px;
}
ul.portfolio li .portfolio-description-container .label-container {
margin-top: 12px;
display: inline-block;
}
ul.portfolio li .portfolio-description-container .label {
padding: .2em 8px;
color: #fff;
line-height: 1;
white-space: nowrap;
vertical-align: baseline;
}

@media only screen and (max-width : 960px) {
  ul.portfolio li .post-date-container {
    float: none;
    width: 100%;
    min-height: 0;
  }
}
