---
layout: default
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post">
  {{ content }}
</div>

<div class="post-metadata"> 
{% if page.previous.url %} 
  <h3>Previous Post: <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">{{page.previous.title}}</a></h3>
{% endif %}
{% if page.next.url %} 
        <h3>Next Post: <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}}</a></h3>
{% endif %} 
</div> 